<html>
  <head>
    <title>Signup for our system!</title>
  </head>

  <body>
    <h1>Signup here</h1>
    <form action="signup" method="POST">
      Email: <input type="text" name="username" required>
      <br>
      Password: <input type="password" name="password" required>
      <br>
      First name: <input type="text" name="firstName" required>
      <br>
      Last name: <input type="text" name="lastName" required>
      <br>
      <input type="submit" value="Sign me up!">
  </body>

</html>